body {
    background-image: url("../images/background.jpg") ;
    background-size: cover; 
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: black;
    opacity: 0.7; 
    font-size: 20px;  
    border-bottom: 3px solid gray !important;  
}

a:link, a:visited {
    opacity: 1.5 !important;
    color: black!important; 
}

a.navbutton:hover {
    background-color: midnightblue !important; 
}

a.navbutton:link, a.navbutton:visited {
    opacity: 1.5 !important;
    color: white!important; 
}

.trivia {
    background-image: url("../images/pink.jpg");
}

.train {
    background-image: url("../images/Snapchat.jpg");
}

.project {
    background-image: url("../images/green.png");
}

.trivia, .train, .crystal, .project {
    background-size: cover; 
    border: 3px solid black !important;
    color: black !important; 
    font-family: 'Poppins', sans-serif;
    font-size: 30px; 
    text-align: center; 
}

.crystal {
    background-image: url("../images/blue.png"); 
}

.drop1, .drop2, .drop3, .drop4 {
    padding: 10px;
    display: none; 
    font-family: 'Open Sans', sans-serif;
    font-size: 20px; 
}

#flip1, #flip2, #flip3, #flip4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px; 
}

.wording {
    font-family: 'Crete Round', serif;
}
