body {
    background-image: url("../images/pexels-photo-479453.jpeg");
    background-size: cover; 
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: black;
    opacity: 1.5; 
    font-size: 15px;  
    font-family: 'Montserrat', sans-serif;
    border-bottom: 3px solid gray !important; 
}

a.navbutton:hover {
    background-color: white!important; 
    text-decoration: none; 
}

a.nav-name, a.nav-name:hover {
    font-size: 30px !important;
    color: #8D8C8A!important;  
    padding-top: 5px;
    text-decoration: none; 
}

a.navbutton:link, a.navbutton:visited {
    opacity: 1.5 !important;
    color: #8D8C8A !important; 
    text-decoration: none;
}


.biobox {
    float: left; 
    color: beige; 
    font-size: 10px;
    font-family: 'Montserrat', sans-serif !important;
}

.jumbotron {
    min-height: 500px !important;
    display: flex;
    align-items: center;
}

.bioname {
    font-family: 'Montserrat', sans-serif;
    color: black; 
    font-weight: bold; 
    font-size: 50px !important; 
    padding-top: 10px;
    padding-bottom: 20px; 
    margin: 0 auto; 
    opacity: 2.0 !important;
    z-index: 2.0;  
}

#biobuild {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px; 
    line-height: 2.0; 
    padding-top: 10px; 
    color: black; 
    
}

.button {
    font-family: 'Montserrat', sans-serif;
    height: 75px;
    width: 300px !important; 
    font-weight: bolder !important; 
    border: 2px solid black !important;
    border-radius: 10px; 
    color: black !important;
    font-size: 1.8vw !important;
    background-color: #8D8C8A;
    line-height: 1.0;
    position:relative;
    top: 95%; 
    left: 40%;
    right: 40%; 
}

.profilepic {
    float: left;
    padding: 10px; 
    height: 250px;
    width: 250px; 
}

.bio {
    color: 	black; 
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif;
    margin: 5px; 
    
}

.connect {
    color: black;
    font-size: 40px; 
}


a.social:hover, a.social:active {
    background-color: transparent !important; 
    color: transparent; 
    text-decoration: none;  

}

address {
    color: black;
    font-size: 35px; 
}

a.email:link, a.email:visited {
    color: rgb(5, 96, 187) !important;
}

#footer {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px; 
    background-color: black;
    color: #cccccc;
    text-align: center;
    padding: 5px 5px 5px 5px; 
    font-size: 10px; 
    border-top: 5px solid black;
}



@media (max-width: 1060px) {
   
    .bioname {
        font-size: 25px !important;
        padding: 20px; 
    }

    #biobuild {
        font-size: 20px !important; 

    }
   
    .biobox {
        margin: 15px; 
        float: left; 
        
    }

    .bioindex {
        width: 80%; 
        position: relative;
        left: 10%; 
        right: 5%;
        margin-bottom: 30px; 
    }
   
    .jumbotron {
        margin-top: 30px !important; 
        min-height: 300px !important;
        padding-top: 30px !important; 
        align-content: center; 
        
    }
    .bio {
        font-size: 150% !important;
        line-height: 1.0; 
        color: black !important;
         
    }

    .bioname {
        padding: 5px; 
    }

    .profilepic {
        height: 30%;
        width: 30%; 
        float: left; 
    }

    .connect, address, .sociallinks {
        padding-left: 5px;
        padding-right: 5px; 
        margin-left: 20px; 
    }

    .sociallinks {
        padding-top: 20px; 
    }

    .button {
        height: 40px; 
        width: 100px !important; 
        font-size: 13px !important; 
        background-color: darkgray;
        margin-top: 30px; 
        position: relative;
        left: 30%;
        right: 25%;
    }

    address {
        padding-top: 50px; 
        font-size: 19px; 
        float: left; 
    }


}

@media (max-width: 520px) {
    .jumbotron {
        min-height: 450px !important; 
    }

}